.home-page {
  position: relative;
  height: 100vh;
  margin: 0;
}

.home-page div {
  position: relative;
}

@media only screen and (max-width: 992px) {
  .home-page > .right-navbar-main {
    position: absolute;
    top: -100%;
    z-index: 5;
  }

  .home-page > .show-right-mobile {
    top: 0;
  }
}

@media only screen and (max-width: 768px) {
  .home-page > div {
    position: absolute;
  }
  .home-page > .left-navbar-main {
    left: -100%;
    z-index: 1;
  }

  .home-page > .show-left-mobile {
    left: 0;
  }
}
